@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Erro!</h1>
<h2 class="text-danger">Ocorreu um erro enquanto seu pedido era processado. Por favor, tente novamente.</h2>

