@{
    ViewBag.Title = "Contatos";
}
<h2>@ViewBag.Title.</h2>


<address>
    <strong>Cibele Reis:</strong>   <a href="mailto:cibele.asreis@gmail.com">cibele.asreis{at}gmail.com</a><br />
    <strong>Henrique Sarmento:</strong> <a href="mailto:hnrqer@gmail.com">hnrqer{at}gmail.com</a><br/>
    <strong>Vinicius Zaramella:</strong> <a href="mailto:vinicius.zaramella@gmail.com">vinicius.zaramella{at}gmail.com</a>
</address>